#app_name
{
	position: relative;
	text-align: center;
	font-size: 5.5vh;
}
#video_wrapper
{
	position:relative;
}
#player
{
	position: absolute;
	left:5%;
	width: 50%;
}
.btn_wrapper
{
	position:relative;
	left:50%;
	width: 45%;
}
.btn
{
	font-size: 4vh;
	width: 90%;
	margin: 4vh;
	padding: 5vh;
}
