#app_name
{
	position: relative;
	text-align: center;
	font-size: 5.5vh;
}
#video_wrapper
{
	position:relative;
	left:2%;
	width: 50%;
}
#player
{
	position: absolute;
	width: 100%;
}
.btn_wrapper
{
	position:relative;
	left:55%;
	width: 45%;
}
.btn
{
	font-size: 4vh;
	width: 100%;
	margin: 4vh 0.5vh;
	padding: 5vh 0px;
}
